*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
img {
    height:60px;
}

.img {
    position: absolute;
    top: 0;
    right: 10px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    
}
.container .category{
   text-align: center;
   margin: 20px 0;  
}
.container .category label{
    font-size: 1.2rem;
    color: #555;
}
.container .category select{
    width: 15%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container #quoteDisplay{
   width: 60%;
   height: 120px;
   margin: 20px auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container #quoteGenerate {
    width: 60%;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}
.container #quoteGenerate button{
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #e9b109;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}