*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
img {
    height:60px;
}

.img {
    position: absolute;
    top: 0;
    right: 10px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    
}
.container .category{
   text-align: center;
   margin: 20px 0;  
}
.container .category label{
    margin: 6px;
    font-size: 1.2rem;
    color: black;
}
.container .category select{
    width: 20%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container .category select option{
    font-size: 2rem;
   
}
.container #quoteDisplay{
   width: 60%;
   height: 120px;
   margin: 20px auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   font-size: 17px;
   text-align: justify;
}

.container #quoteGenerate {
    width: 60%;
    text-align: center;
    margin: 12px auto;
    padding: 20px;
    border-radius: 10px;
}
.container #quoteGenerate button{
    margin: 6px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container .font{
    display: flex;
    justify-content: center;
}
.container .font button{
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    margin: 0px 12px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* responsive */
@media (max-width: 768px) {
    .container h1{
        font-size: 1.5rem;
    }
    .container .category select{
        width: 80%;
    }
    .container #quoteDisplay{
        width: 90%;
        height: 175px;
    }
    .container #quoteGenerate{
        width: 90%;
    }
}